page-home {
    .btn-con {
        margin-left: 15px;
    }
    h1{
        margin-left: 15px;
    }
    .container {
    // background-image: url('../assets//imgs/font.png');
    }
    .forgot {
        color : yellowgreen;
    }

}
